.footer {
  position: absolute;
  // bottom: -100px;
  padding: 50px 20px 40px;
  background: $text-color;
  align-content: start;
  min-width: 984px;
  width: 100%;

  @media (max-width: $desktop-width) {
    min-width: 768px;
    padding: 50px 50px 65px;
  }

  @media (max-width: $tablet-width) {
    min-width: 320px;
    padding: 35px 0;
  }
}

.footer__no-js {
  // bottom: -282px;
  bottom: 0;
  transform: translate(0, 100%);

  @media (max-width: $desktop-width) {
    // bottom: -481px;
    transform: translate(0, 100%);
  }

  @media (max-width: $tablet-width) {
    transform: translate(0, 100%);
  }
}

.footer__container {
  display: grid;
  min-width: 984px;
  max-width: 1220px;
  margin: 0 auto;
  grid-template-columns: 1.71fr 2.3fr 1.59fr;
  // grid-template-rows: repeat(10, auto);
  grid-auto-rows: minmax(10px, auto);

  @media (max-width: $desktop-width) {
    min-width: 668px;
    grid-template-columns: 1.1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
  }

  @media (max-width: $tablet-width) {
    min-width: 270px;
    grid-template-columns: 1fr;
  }
}
