.goods {
  padding: 65px 20px 140px;
  background: $goods-bg;

  @media (max-width: $desktop-width) {
    padding: 56px 48px 75px 50px;
  }

  @media (max-width: $tablet-width) {
    min-width: 320px;
    padding: 46px 25px 86px;
  }
}

.goods h2 {
  @include header-font-regular;
  font-size: 36px;
  line-height: 51px;
  letter-spacing: 0;
  text-align: left;
  color: $text-white;

  @media (max-width: $desktop-width) {
    margin-bottom: 37px;
  }

  @media (max-width: $tablet-width) {
    display: block;
    margin-bottom: 30px;
    padding-right: 20px;
    font-size: 28px;
    line-height: 39px;
  }
}

.goods__header--mobile {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    padding-right: 10px;
  }
}

.goods__header--tablet {
  display: block;
  min-width: 984px;
  max-width: 1220px;
  margin: 0 auto 54px;

  @media (max-width: $desktop-width) {
    min-width: 668px;
    max-width: 768px;
    margin: 0;
  }

  @media (max-width: $tablet-width) {
    min-width: 270px;
    max-width: 100%;
  }
}

.goods__list {
  @include reset;
  list-style-type: none;
  min-width: 984px;
  max-width: 1220px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 85px;
  // margin: 38px 0 0;

  @media (max-width: $desktop-width) {
    min-width: 668px;
    grid-gap: 30px;
    grid-template-columns: 1fr;
  }

  @media (max-width: $tablet-width) {
    min-width: 270px;
    display: flex;
    flex-direction: column;
  }
}

.goods__item-link {
  display: block;
  position: relative;
  max-width: 350px;
  min-height: 650px;
  padding: 48px 40px;

  &:hover,
  &:focus-visible {
    opacity: 0.7;
  }

  @media (max-width: $desktop-width) {
    padding: 37px 44px;
    max-width: 100%;
    min-height: 250px;
  }

  @media (max-width: $tablet-width) {
    padding: 25px 30px;
    min-height: 250px;
  }
}

.goods__item:not(:last-of-type) {
  margin: 0;

  // @media (max-width: $desktop-width) {
  //   margin-bottom: 30px;
  // }
}

.webp .goods__item--first {
  background-image: url("../img/webp/first-card-bg-desktop.webp");
  background-size: cover;
  background-color: $substrate;

  @media (min-width: $desktop-width) {
    @media (min-resolution: 2dppx) {
      background: url("../img/webp/first-card-bg-desktop@2x.webp") no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $desktop-width) {
    background-image: url("../img/webp/first-card-bg-tablet.webp");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/webp/first-card-bg-tablet@2x.webp") no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/webp/first-card-bg.webp");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/webp/first-card-bg@2x.webp") no-repeat;
      background-size: cover;
    }
  }
}

.nowebp .goods__item--first {
  background-image: url("../img/first-card-bg-desktop.png");
  background-size: cover;
  background-color: $substrate;

  @media (min-width: $desktop-width) {
    @media (min-resolution: 2dppx) {
      background: url("../img/first-card-bg-desktop@2x.png") no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $desktop-width) {
    background-image: url("../img/first-card-bg-tablet.png");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/first-card-bg-tablet@2x.png") no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/first-card-bg.png");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/first-card-bg@2x.png") no-repeat;
      background-size: cover;
    }
  }
}

.webp .goods__item--second {
  background-image: url("../img/webp/second-card-bg-desktop.webp");
  background-size: cover;
  background-color: $substrate;

  @media (min-width: $desktop-width) {
    @media (min-resolution: 2dppx) {
      background: url("../img/webp/second-card-bg-desktop@2x.webp") no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $desktop-width) {
    background-image: url("../img/webp/second-card-bg-tablet.webp");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/webp/second-card-bg-tablet@2x.webp") no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/webp/second-card-bg.webp");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/webp/second-card-bg@2x.webp") no-repeat;
      background-size: cover;
    }
  }
}

.nowebp .goods__item--second {
  background-image: url("../img/second-card-bg-desktop.png");
  background-size: cover;
  background-color: $substrate;

  @media (min-width: $desktop-width) {
    @media (min-resolution: 2dppx) {
      background: url("../img/second-card-bg-desktop@2x.png") no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $desktop-width) {
    background-image: url("../img/second-card-bg-tablet.png");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/second-card-bg-tablet@2x.png") no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/second-card-bg.png");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/second-card-bg@2x.png") no-repeat;
      background-size: cover;
    }
  }
}

.webp .goods__item--third {
  background-image: url("../img/webp/third-card-bg-desktop.webp");
  background-size: cover;
  background-color: $substrate;

  @media (min-width: $desktop-width) {
    @media (min-resolution: 2dppx) {
      background: url("../img/webp/third-card-bg-desktop@2x.webp") no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $desktop-width) {
    background-image: url("../img/webp/third-card-bg-tablet.webp");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/webp/third-card-bg-tablet@2x.webp") no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/webp/third-card-bg.webp");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/webp/third-card-bg@2x.webp") no-repeat;
      background-size: cover;
    }
  }
}

.nowebp .goods__item--third {
  background-image: url("../img/third-card-bg-desktop.png");
  background-size: cover;
  background-color: $substrate;

  @media (min-width: $desktop-width) {
    @media (min-resolution: 2dppx) {
      background: url("../img/third-card-bg-desktop@2x.png") no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $desktop-width) {
    background-image: url("../img/third-card-bg-tablet.png");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/third-card-bg-tablet@2x.png") no-repeat;
      background-size: cover;
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/third-card-bg.png");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/third-card-bg@2x.png") no-repeat;
      background-size: cover;
    }
  }
}

.goods__item--second br {
  display: block;

  @media (max-width: $desktop-width) {
    display: inline;
  }
}

.goods__item p {
  @include header-font-regular;
  @include reset;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  color: $text-white;
  max-width: 170px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }
}

.goods__item--second br {
  display: none;
}

.goods__arrow-icon {
  position: absolute;
  display: block;
  align-items: center;
  justify-items: center;
  outline: none;
  border: 0;
  bottom: 0;
  right: 0;
  padding: 24px 27px;
  border-radius: 3px 0 0 0;
  background: $main-blue;
  box-sizing: content-box;

  @media (max-width: $tablet-width) {
    padding: 14px 17px;
  }
}
