.socials {
  // padding: 0 92px;
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: start;
  margin: 12px 0 0 15px;

  @media (max-width: $desktop-width) {
    margin: 10px -2px 28px 0;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0;
    justify-self: end;
  }

  @media (max-width: $tablet-width) {
    // padding: 0 0 0 42px;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    margin: 16px 0 30px;
  }
}

.socials__list {
  @include reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  min-width: 140px;
  max-width: 180px;
}

.socials__link--pinterest {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: $text-white;
}

.socials__link {
  &:hover,
  &:focus-visible {
    opacity: 0.7;
  }
}
